* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Taipei';
	src: url('/Font/Taipei.ttf') ,
		  
  }
html,
body {
	width: 100%;
	height: 100%;
	font-family: 'Taipei';
	background: #000;

}

.container {
	width: 100%;
	height: auto;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

h2 {
	color: #fff;
	font-size: 14vw;
	font-weight: 400;
	letter-spacing: -0.025em;
	text-transform: uppercase;
	text-align: center;
}

p {
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
}

.intro-copy {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

section {
	margin: 150vh 0;

}

.section-previews {
	position: fixed;
	width: 1000px;
	height: 700px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.img {
	width: 100%;
	height: 100%;
	position: absolute;
	clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
	overflow: hidden;

}

.spacer {
	width: 100%;
	height: 200px;
}

/* ---------------------MENU----------------------------- */



/* *,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
} */

.heading-primary {
	color: #fff;
	text-transform: uppercase;
	backface-visibility: hidden;
	margin-bottom: 6rem;
}

.heading-primary--main {
	display: block;
	font-size: 6rem;
	font-weight: 400;
	letter-spacing: 3.5rem;
	margin-right: -3.5rem;
	animation-name: moveInLeft;
	animation-duration: 1s;
	animation-timing-function: ease-out;
}

.heading-primary--sub {
	display: block;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 1.75rem;
	margin-right: -1.75rem;
	animation: moveInRight 1s ease-out;
}

.btn,
.btn:link,
.btn:visited {
	position: relative;
	display: inline-block;
	padding: 1.5rem 4rem;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.6rem;
	border-radius: 5rem;
	backface-visibility: hidden;
	z-index: 0;
	transition: all 0.2s;
	border: none;
	cursor: pointer;
}

.btn::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 5rem;
	z-index: -1;
	transition: all 0.4s;
}

.btn:hover,
.btn:focus {
	transform: translateY(-0.3rem);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	outline: none;
}

.btn:hover::after,
.btn:focus::after {
	opacity: 0;
	transform: scaleX(1.4) scaleY(1.6);
}

.btn:active {
	transform: translateY(-0.1rem);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
	background-color: #fff;
	color: #777;
}

.btn--white::after {
	background-color: #fff;
}

.btn--animated {
	animation: moveInBottom 0.5s ease-out 0.75s backwards;
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}

	80% {
		transform: translateX(1rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}

	80% {
		transform: translateX(-1rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInBottom {
	from {
		opacity: 0;
		transform: translateY(3rem);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.navigation__checkbox {
	display: none;
}

.navigation__checkbox:checked~.navigation__background {
	transform: scale(100);
}

.navigation__checkbox:checked~.navigation__nav {
	transform: translateX(0);
	visibility: initial;
	opacity: 1;
}

.navigation__button {
	position: fixed;
	top: 3rem;
	right: 3rem;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: #000;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
	cursor: pointer;
	z-index: 12;
	text-align: center;
}

.navigation__background {
	position: fixed;
	top: 3.5rem;
	right: 3.5rem;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-image: radial-gradient(#444444, rgb(68, 68, 68));
	z-index: 10;
	transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: 11;
	transform: translateX(-50%);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.8s ease-in, transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	list-style: none;
}

.navigation__item {
	margin: 1rem;
	counter-increment: list;
}

.navigation__link::before {
	content: '0' counters(list, '');
	padding-right: 1.2rem;
}

.navigation__link:link,
.navigation__link:visited {
	display: inline-block;
	font-size: 3rem;
	font-weight: 300;
	padding: 1rem 2rem;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	background-image: linear-gradient(120deg, transparent 0%, transparent 49.9%, #fff 50%);
	background-size: 227%;
	transition: all 0.4s;
}

.navigation__link:hover,
.navigation__link:active {
	color: rgb(68, 68, 68);
	background-position: 100%;
	transform: translateX(1rem);
}

.navigation__icon {
	display: inline-block;
	position: relative;
	width: 2rem;
	height: 0.3rem;
	top: 28%;
	transition: transform 0.25s ease-in-out;
}

.navigation__icon-span {
	position: absolute;
	height: 0.5rem;
	width: 50%;
	background: #fff;
	transition: all 0.5s ease-in;
}

.navigation__icon-span:nth-child(even) {
	left: 50%;
	border-radius: 0 0.9rem 0.9rem 0;
}

.navigation__icon-span:nth-child(odd) {
	left: 0;
	border-radius: 0.9rem 0 0 0.9rem;
}

.navigation__icon-span:nth-child(1),
.navigation__icon-span:nth-child(2) {
	transform: translateY(-1rem);
}

.navigation__icon-span:nth-child(5),
.navigation__icon-span:nth-child(6) {
	transform: translateY(1rem);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon-span:nth-child(1),
.navigation__checkbox:checked+.navigation__button .navigation__icon-span:nth-child(6) {
	transform: rotate(45deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon-span:nth-child(2),
.navigation__checkbox:checked+.navigation__button .navigation__icon-span:nth-child(5) {
	transform: rotate(-45deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon-span:nth-child(2),
.navigation__checkbox:checked+.navigation__button .navigation__icon-span:nth-child(6) {
	transform-origin: left;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon-span:nth-child(1),
.navigation__checkbox:checked+.navigation__button .navigation__icon-span:nth-child(5) {
	transform-origin: right;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon-span:nth-child(3) {
	left: -50%;
	opacity: 0;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon-span:nth-child(4) {
	left: 100%;
	opacity: 0;
}

.navigation__button:hover .navigation__icon-span:nth-child(3) {
	transform: translateX(-0.3rem) scale(1.1);
}

.navigation__button:hover .navigation__icon-span:nth-child(4) {
	transform: translateX(0.3rem) scale(1.1);
}

.navigation__checkbox:checked+.navigation__button:hover .navigation__icon {
	transform: rotate(180deg);
}


/* ------------------------------------------------------- */

/* -----------------------------開場動畫------------------------------------- */


video{
	object-fit: cover;
	width: 100%;
height: 100%;
}
.container-open {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.section-open {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  }

.opening {
	width: 100%;
	height: 100vh;
	position: relative;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.opening__mask--upper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border-top: 50.5vh solid #000;
	border-right: 50vw solid transparent;
	border-bottom: 50vh solid transparent;
	border-left: 50.5vw solid #000;
	transform-origin: top right;
}

.opening__mask--under {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border-top: 50vh solid transparent;
	border-right: 50.5vw solid #000;
	border-bottom: 50.5vh solid #000;
	border-left: 50vw solid transparent;
	transform-origin: top right;
}

.opening__line {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(to right bottom, transparent 49.8%, #fff 50%, transparent 50.2%);
	z-index: 1;
	transform-origin: top right;
	transform: scale(0);
	/*初期状態*/
}

.opening__logo {
	display: block;
	width: auto;
	height: 500px;
	z-index: 2;
	opacity: 0;
}

.mainVisual {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

/* -----------------------------開場動畫----------------------------------- */


/* -----------------------------FOOTER----------------------------------- */

footer {
  display: flex;
  background: #333;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
}

.footer {
  position: relative;
  width: 100%;
  background: rgb(68, 68, 68);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("/images/wave02.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}


/* -----------------------------FOOTER----------------------------------- */

/* 輪播圖 */

.collection{
    height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collection .content{
    height: 28rem;
    width: 25rem;
    background-color: #1b1f2a;
    border: .2rem solid #ffffff1a;
    border-radius: .7rem;
    border-bottom: .4rem solid rgb(68, 68, 68);
    border-top: .4rem solid rgb(68, 68, 68);
    overflow: hidden;
    /* padding: .2rem; */
}

.content img{
    width: 100%;
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .6rem;
	max-height: 300px;
}

.text-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	padding: 1rem;
}
.text-content h3{
    font-size: 1.7rem;
    font-weight: 500;
	color: #fff;
}
.text-content p{
    max-width: 22rem;
    font-size: .8rem;
    font-weight: 400;
    text-align: center;
}